#exchange-section
  background #e5e5e5

  .exchange-card
    padding 10px 20px

    background #ffffff
    border-radius 3px
    box-shadow 0 3px 5px rgba(0, 0, 0, .3)

  .exchange-form
    padding-top 10px

.support-block
  position absolute
  bottom 0
  left 0
  right 0
  width 100%