.admin-wrapper
  padding-left (55 + 15)px

#left-navbar
  position fixed
  top 0
  left 0
  height 100%
  padding-top 56px
  text-align center

  .nav
    width 55px

    background-color #343a40

    .nav-link
      color #9a9da0
      transition all ease .3s
      padding-left (16 + 3)px
      border-left 0 solid #501e76

      &:hover
        color darken(#9a9da0, 20)

      &.active
      &:focus
        background-color darken(#343a40, 3)
        border-left-width 3px
        padding-left 16px


    .nav-link-avatar
      padding 26px 8px 20px

      > img
        border-radius 50%