.form-control

  border solid 2px #ced4da

  &:focus
    color #495057
    border-color #5f506f
    outline 0;
    box-shadow none

.input-group-text
  border solid 2px #ced4da

.input-group-prepend
  .input-group-text
    border-right none