.nav-tabs

  .nav-link.nav-item
    padding-bottom 12px

    color #4a4b43
    border none
    border-bottom solid 1px #dee2e6
    transition all ease .3s

    &:hover
      border-bottom solid 1px #624d6e

    &.active
      padding-bottom 8px

      color #28202d
      border-bottom solid 3px #624d6e