@import "./skin/forms.styl"
@import "./skin/tabs.styl"
@import "./skin/cards.styl"
@import "./skin/util.styl"

@import "admin/left-navbar-section.styl"
@import "admin/graphs.styl"

#dashboard
  h6
    font-size 130%

  .nav-tabs
    .nav-item
      display inline-block !important
      margin-bottom -3px
      padding 5px 10px

      &.nav-tabs
        padding-bottom 9px

  .active
    opacity 1
